{% extends "base.html" %}

{% block content %}
  <h1>
    Procedure List
    <a href="{% url 'salon:procedure-list' %}" class="btn btn-primary link-to-page">
      Create procedure
    </a>
  </h1>

  {% block form %}
    {% include "includes/search_form.html" %}
  {% endblock %}
  <br>

  {% if procedure_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Procedure type</th>
        <th>Client</th>
        <th>Additional info</th>
        <th>Date and time</th>
        <th>Completed</th>
        <th>Workers</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>

      {% for procedure in procedure_list %}
        <tr>
          <td>
              {{ procedure.id }}
          </td>
          <td>
              {{ procedure.procedure_type }}
          </td>
          <td>
              {{ procedure.client }}
          </td>
          <td>
              {{ procedure.additional_info }}
          </td>
          <td>
              {{ procedure.date_time }}
          </td>
          <td>
              {{ procedure.is_completed }}
          </td>
          <td>
            {% for worker in  procedure.workers.all %}
              {{ worker }}<br>
            {% endfor %}
          </td>
          <td>
              <a href="{% url 'salon:procedure-update' pk=procedure.id %}">
                Update
              </a>
            </td>
            <td>
              <a style="color: red"
                href="{% url 'salon:procedure-delete' pk=procedure.id %}">
                Delete
              </a>
            </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
      <p>There are no procedures in the service.</p>
  {% endif %}
{% endblock %}
